@font-face {
    font-family: 'Roboto Light';
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto Regular';
    src: url(fonts/Roboto-Regular.ttf);
}

*{
	//margin:0 auto;
	//font-family: Roboto;
	//color: #1a1a1a !important;
}
.avi-thumb{
	
}
.userpanel{
	padding:10px;
	background-color: white;
	border-radius: 1em;
}
.pad{
	padding: 10px;
	background-color: white;
}
.shadowpad{
	border-left:5px solid #17a2b8;
}
.userheader{
	height: 100px;
	width: 100%;
	background-color: #effcff;
}
.category-header{
	color:white;
	padding: 10px 0px 10px 0px;
}
.category-panel{
	background-color: #f8f9fa !important;
	padding: 10px;
}
.browse{
	font-size: 20px;
}
.signup, .input-group-text{
	font-size: 13px;
}
.subtext{
color: #c0c0c0;
}
.blockquote{
	padding-left: 60px;
	font-size: 13px;
}
.comment{
	padding-left: 10px;
}
.blockquote-footer{
	font-size: 13px;
}
.btn-light{
	background-color: #fff;
	border: 0;
}
.btn-light:hover{
	background-color: #fff;
	border: 0;
}
.btn-outline-danger{
	border: 0;
	color: #c0c0c0;
}
.btn-sml{
	font-size: 10px !important;
}
.btn-outline-danger:hover{
	background-color: transparent;
	color: #dc3545;

}
.content{
	padding-top:10px;
	font-size: 13px;
}
.avi-thumb{
	border-radius: 2em;
	width: 50px;
	height: 50px;
	background-color: #c0c0c0;
}
.table{
	
}
.table td{
	padding: 2px;
	padding-bottom: 5px;
}
.video{
	background-color: #c0c0c0;
	//height: 500px;
	//width: 100%;
}
.btn{
	font-size: 13px;
	border-radius: 0 !important;
}
.btn-icon{
	background-color: transparent;
	border: 0;
	color: #17a2b8;
	cursor: pointer;
}
.subheader{
	height: 20px;
	width: 100%;
}
.btn-icon:hover{
	color: #138496;
}
.form-control,.dropdown-menu{
	font-size: 13px;
}
.avatar{
	width: 150px;
	height: 150px;
	border-radius: .5em;
	background-color: #17a2b8;
}
.navbar{
	font-size: 15px;
	padding-left: 20px;
	background-color: #20c997;
}
.navbar-light .navbar-brand{
	color: #17a2b8;
}
.thumb{
	//padding: 0px 10px 10px 10px;
	//height: 150px;
	width: 100%;
}
.thumb:hover{
	text-decoration: none;
}
.thumb-title{
	text-align: left;
}

.btn-accent-basic{
	background: #fff;
	border-color: #c0c0c0;
}
.btn-accent-basic:hover{
	background: #c6ed80;
	border-color: #a8ce65;
}
.btn-accent-1{
	background-color: #c6ed80;
}
.btn-accent-1:hover{
	background-color: #a8ce65;
}
.footer{

}
nav li{
	margin-right: 20px;
	//border-bottom: 2px transparent solid;
	padding:5px;
}
nav li:hover{
	//border-bottom: 3px solid #ff5c30;
}
.currentitem{
	font-weight: bold;
	//border-bottom: 3px solid #ff5c30;
}
footer{
	width: 100%;
	padding: 20px;
}
.footer{
	//font-family: Roboto Light !important;
	font-size:13px;
}
/*
<form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" style='border-radius:2em 0em 0em 2em;width:350px;'>
        </div>
        <button type="submit" class="btn btn-accent-basic" style='border-radius:0em 2em 2em 0em;margin-left:-5px;margin-top:-1px;'><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
      */